interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cc1.cnx.org/api/events
  response:
    body:
      string: ''
    headers:
      Location:
      - http://cc1.cnx.org/api/events/
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: http://cc1.cnx.org/api/events/
  response:
    body:
      string: Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://cc1.cnx.org:443/api/events/
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://cc1.cnx.org/api/events/
  response:
    body:
      string: '[{"collection_id":"test-20191016-1","status_id":"3","pdf_url":null,"id":"2","created_at":"2019-10-16T17:15:14.730629","updated_at":"2019-10-16T17:15:14.730666"},{"collection_id":"test-20191016-2","status_id":"4","pdf_url":null,"id":"3","created_at":"2019-10-16T18:52:38.284096","updated_at":"2019-10-16T18:52:38.284133"},{"collection_id":"test-20191016-3","status_id":"3","pdf_url":null,"id":"4","created_at":"2019-10-16T20:45:42.160471","updated_at":"2019-10-16T20:45:42.160508"},{"collection_id":"abc123","status_id":"3","pdf_url":null,"id":"1","created_at":"2019-10-15T16:54:30.827610","updated_at":"2019-10-17T03:09:44.106938"}[...]
