interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cc1.cnx.org/api/events/1
  response:
    body:
      string: '{"collection_id":"col11756","status_id":"4","content_server_id":"9","pdf_url":null,"version":null,"id":"1","created_at":"2019-10-28T21:13:56.515617","updated_at":"2019-10-30T20:45:58.020445","status":{"name":"failed","id":"4"},"content_server":{"hostname":"easyvm5.cnx.org","host_url":"https://easyvm5.cnx.org","id":"9"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
